ImeiValidator.WebService/Service References/ImeiService/micsservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ucrf.gov.ua/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ucrf.gov.ua/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mics public web service for external's system calls</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ucrf.gov.ua/webservices/">
      <s:element name="GetServiceVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemStatusByImei">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemStatusByImeiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemStatusByImeiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceVersion" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemStatusByImei" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemStatusByImeiResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionHttpGetIn" />
  <wsdl:message name="GetServiceVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiHttpGetIn">
    <wsdl:part name="imei" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionHttpPostIn" />
  <wsdl:message name="GetServiceVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiHttpPostIn">
    <wsdl:part name="imei" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetItemStatusByImeiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MicsServiceSoap">
    <wsdl:operation name="GetServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves current version of the service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceVersionSoapIn" />
      <wsdl:output message="tns:GetServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves device status by Imei code</wsdl:documentation>
      <wsdl:input message="tns:GetItemStatusByImeiSoapIn" />
      <wsdl:output message="tns:GetItemStatusByImeiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MicsServiceHttpGet">
    <wsdl:operation name="GetServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves current version of the service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceVersionHttpGetIn" />
      <wsdl:output message="tns:GetServiceVersionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves device status by Imei code</wsdl:documentation>
      <wsdl:input message="tns:GetItemStatusByImeiHttpGetIn" />
      <wsdl:output message="tns:GetItemStatusByImeiHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MicsServiceHttpPost">
    <wsdl:operation name="GetServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves current version of the service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceVersionHttpPostIn" />
      <wsdl:output message="tns:GetServiceVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves device status by Imei code</wsdl:documentation>
      <wsdl:input message="tns:GetItemStatusByImeiHttpPostIn" />
      <wsdl:output message="tns:GetItemStatusByImeiHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MicsServiceSoap" type="tns:MicsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceVersion">
      <soap:operation soapAction="http://www.ucrf.gov.ua/webservices/GetServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <soap:operation soapAction="http://www.ucrf.gov.ua/webservices/GetItemStatusByImei" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MicsServiceSoap12" type="tns:MicsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceVersion">
      <soap12:operation soapAction="http://www.ucrf.gov.ua/webservices/GetServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <soap12:operation soapAction="http://www.ucrf.gov.ua/webservices/GetItemStatusByImei" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MicsServiceHttpGet" type="tns:MicsServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetServiceVersion">
      <http:operation location="/GetServiceVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <http:operation location="/GetItemStatusByImei" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MicsServiceHttpPost" type="tns:MicsServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetServiceVersion">
      <http:operation location="/GetServiceVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemStatusByImei">
      <http:operation location="/GetItemStatusByImei" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MicsService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mics public web service for external's system calls</wsdl:documentation>
    <wsdl:port name="MicsServiceSoap" binding="tns:MicsServiceSoap">
      <soap:address location="http://213.156.91.27/micsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MicsServiceSoap12" binding="tns:MicsServiceSoap12">
      <soap12:address location="http://213.156.91.27/micsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MicsServiceHttpGet" binding="tns:MicsServiceHttpGet">
      <http:address location="http://213.156.91.27/micsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MicsServiceHttpPost" binding="tns:MicsServiceHttpPost">
      <http:address location="http://213.156.91.27/micsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>